body {
  overflow-y: scroll;
}

.sidebar-sticky {
  padding-top: 0;
}

.sidebar {
  padding-top: 3rem;
}

.about-section {
  max-width: 800px;
}

div.sidebar-sticky {
  li.nav-item:hover,
  li.nav-item.active {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: transparent;
  }
}

.sticky-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
}
.sidebar {
  .nav-link,
  .nav-link:hover .nav-link.active {
    text-decoration: none !important;
    color: #212529 !important;
  }
  nav a,
  a:hover {
    text-decoration: none !important;
    color: #212529 !important;
  }
}

nav.sidebar div.sidebar-sticky .list-group-item {
  border-width: 0 0 1px 0;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.notice-container {
  margin-bottom: 30px;
}

table.table-striped tbody tr:hover {
  //   background-color: #f5f5f5;
  //   text-decoration: underline;
  //   text-decoration-color: lightgray;
}

.newspaper-page-card {
  //   max-width: 175px;
  //   max-height: 200px;
  h5.card-title {
    margin: 0;
  }
}
